body {
    box-sizing: border-box;
    /*font-family: 'Merriweather', serif;*/
    background: linear-gradient(135deg,rgba(0,0,0,1.0),rgba(0,0,0,0.9))
}

.container{
    margin: 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #fff;
}

.card-container{
    display: flex;
    margin: auto;
    width: 80vw;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    flex: 0.2;
    margin: 10px;
    position: relative;
    transition: flex 0.5 ease-in;
}

.card h3{
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    left: 5px;
    color: #fff;
    display: none;
}

.card.active{
    flex: 8;
}

.card.active h3{
    display: block;
}

@media(max-width:900px){
    .card-container{
        width: 95vw;
    }
    .card:nth-of-type(5),.card:nth-of-type(4),.card:nth-of-type(8){
        display: none;
    }
}

@media(max-width:500px){
    .card-container{
        width: 100vw;
        margin: 0;
    }
    .h1{
        font-size: 20px;
    }
    .card:nth-of-type(1),.card:nth-of-type(4),.card:nth-of-type(5),.card:nth-of-type(8),.card:nth-of-type(6){
        display: none;
    }
}